project_plans.csv
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
part_x_data_cleaning/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
part_x_data_cleaning/.ipynb_checkpoints/weighted_averages-checkpoint.csv
part_x_google_sheets_uploads/.ipynb_checkpoints/sharing_database_data-checkpoint.py
.jupyter/desktop-settings.json
part_x_graphing/.ipynb_checkpoints/graphing-checkpoint.ipynb
part_x_graphing/Graphs/.ipynb_checkpoints/enrollment_by_school-checkpoint.png
part_x_spreadsheet_ops/.ipynb_checkpoints/spreadsheet_ops-checkpoint.ipynb
part_x_graphing/Graphs/.ipynb_checkpoints/enrollment_by_grade-checkpoint.html
